* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", serif;
}

:root{
    --purple-100: #f1cff8;
    --purple-200: #d8b8eb;
    --purple-300: #cb88e6;
    --purple-400: #c86adb;
    --purple-500: #bf42ca;
    --purple-600: #a81eb4;
    --purple-700: #8b11a3;
    --purple-800: #610579;
    --light-purple: #e40ae4;
    --white: #ffffff;
}

body{
    background-color: var(--purple-200);
}

header{
    display: flex;
    justify-content: center;
    padding-block: 2.8rem;
}

main{
    background-color: var(--white);
    padding: 2rem;

}

.conta,
.gorjeta{
    margin-bottom: 2rem;
}

.conta label,
.gorjeta label{
    color: var(--purple-500);
    font-weight: 700;
}

.conta div{
    border: 1px solid #240331;
    margin-top: 0.4rem;
    background-color: var(--purple-100);
    padding: 0.4rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.3125rem;

}

.conta input{
    border:none;
    text-align: right;
    width: 100px;
    background: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--purple-800);
    outline: none;
}

.conta inpput::placeholder{
    color: var(--purple-300);
}

.conta:has(input:focus) div{
    outline: 2px solid var(--light-purple);
}


.gorjeta div {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.gorjeta input {
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    text-align: center;
    outline: none;
    padding-block: 0.4rem;
    border-radius: 0.3125;
    background-color: var(--purple-800);
    color: var(--white);
}

.gorjeta #outra{
    width: 100%;
    background-color: var(--purple-100);
    color: var(--purple-800);
}

.gorjeta #outra::placeholder{
    color: var(--purple-300);
}